header {
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header__content {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__logo img {
    width: var(--logo-width);
}

.btn-close-menu,
.btn-open-menu {
    display: none;
}

.header__menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.header__menu nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header__content nav ul {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header__content ul>li {
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.header__content ul>li~li {
    margin-left: 2rem;
}