.hero__swiper {
    height: 66vh;
}

.hero__swiper .swiper__silde {
    position: relative;
}

.hero__swiper .container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.hero__content {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero__img {
    width: 50%;
    text-align: center;
}

.hero__txt {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero__txt h2 {
    font-size: 5.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.hero__txt p {
    line-height: 1.5;
    margin-bottom: 5rem;
}

.hero__bg {
    position: relative;
    height: 100%;
}

.hero__bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(238 238 238/90%);
}

.hero__swiper .swiper-pagination {
    text-align: left;
    bottom: 1rem;
    padding-left: 1rem;
    max-width: var(--container-max-width);
    left: 50%;
    transform: translateX(-50%);
}

.hero__swiper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin: 0 !important;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

}

.swiper-pagination-bullet-active {
    background-color: var(--color-main);
}