/* product card */
.product__image {
    position: relative;
    padding-top: 100%;
    background-color: var(--color-gray-bg);
}

.product__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product__info {
    margin-top: 2rem;
}

.product__info>*~* {
    margin-top: 1rem;
}

.product__name {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.product__price {
    display: block;
    font-weight: 500;
    color: var(--color-txt-gray);
}

/* product card */

/* product swiper */
.top-product__header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.top-product__swiper__btn {
    display: flex;
    text-align: center;
    justify-content: flex-end;
}

.top-product__swiper__btn .btn-next {
    margin-left: 10px;
}

.top-product__swiper__btn .swiper-button {
    width: 40px;
    height: 40px;
    background-color: var(--color-gray-bg);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-product__swiper__btn .swiper-button i {
    font-size: 2rem;
    color: var(--color-txt-gray);
}

/* product swiper */